{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block scripts %}
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    {% endblock scripts %}
    <style>
        body {
            background-color: lightgrey;
            color: darkslategray;
        }
    </style>
</head>
<body>
<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Conference rooms manager</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'room_list' %}">Show all<span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="{% url 'room_add' %}">Add room</a>
    </div>
  </div>
</nav>
<!-- Nav -->
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
<!-- Footer -->
<footer class="footer">
      <div class="container">
        <span class="text-muted">created by <b>justinaluc</b> in March 2022</span>
      </div>
    </footer>
<!-- Footer -->
</body>
</html>