{% extends 'room_manager/base.html' %}
{% load static %}
{% block title %} ALL ROOMS {% endblock %}
{% block content %}
<h1>Conference Room List:</h1>
  <ul>
    {% for room in object_list %}
      <li>
        <a href="{% url 'room_detail' pk=room.pk %}">{{room.name}}:</a>
        | capacity: {{room.capacity}} | availability: Yes/No | projector: {{room.projector}}
        <button><a href="{% url 'room_update' pk=room.pk %}">edit</a></button>
        <button><a href="{% url 'room_delete' pk=room.pk %}">delete</a></button>
        <button><a href="#">reserve</a></button>
      </li><br>
    {% empty %}
      <p>empty conference room list</p>
    {% endfor %}
  </ul>
{% endblock %}
